---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const { slug } = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);
const bandeau = page.acf.bandeau_hero;
const color = page.acf.couleur_principale;
---

<section class="lg:h-screen w-full relative pt-24">
  <div class="container mx-auto h-full flex items-center">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6 flex flex-col justify-center items-start">
        <div
          data-aos="fade-up"
          class="text-3xl xl:text-6xl text-black uppercase z-3 font-bold font-montserrat mb-4"
        >
          <Fragment set:html={page.acf.titre_hero_3} />
        </div>
        <h4
          class="font-montserrat font-medium uppercase text-[--primary-color] text-xl xl:text-3xl mb-8"
        >
          {page.acf.accroche_hero_3}
        </h4>
        <div class="font-montserrat text-lg mb-12 w-4/5">
          <Fragment set:html={page.acf.texte_hero_3} />
        </div>
        <a
          data-aos="fade-up"
          data-aos-delay="300"
          class="bg-[--primary-color] font-montserrat text-white font-semibold py-4 px-16 rounded-xl transition-all z-3"
          href="">{page.acf.cta_hero_3}</a
        >
      </div>
      <div class="col-span-5 col-end-13 background-hero-3 relative">
        <img
          class="w-full h-full object-cover rounded-3xl"
          src={page.acf.background_hero_3.url}
          alt={page.acf.background_hero_3.description}
        />
      </div>
    </div>
  </div>
</section>
