---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const {slug} = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);
---

<section id="services" class="pt-24 lg:pt-40">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-4 relative">
      <div class="col-span-12 lg:col-span-5 relative mb-20 lg:mb-0 order-2 lg:order-1">
        <img data-aos="zoom-in-up" class="w-full h-full object-cover aspect-square relative rounded-3xl" src={page.acf.image_infos_3.url} alt={page.acf.image_infos_3.description}>
      </div>
      <div data-aos="fade-up" class="col-span-12 lg:col-span-6 lg:col-end-13 font-montserrat flex flex-col justify-center items-start order-1 lg:order-2">
        <h2 class="font-bold text-3xl lg:text-5xl mb-8 uppercase">{page.acf.titre_infos_3}</h2>
        <div class="font-light leading-7 mb-16 text-lsm lg:text-base">
          <Fragment set:html={page.acf.texte_infos_3} />
        </div>
        <a class="bg-[--primary-color] font-montserrat text-white font-semibold text-sm lg:text-base py-4 px-16 rounded-xl transition-all z-3 mb-8 lg:mb-0" href="#contact">{page.acf.bouton_infos_3}</a>
      </div>
    </div>
  </div>
</section>