---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const {slug} = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);
const template = page.acf.template;
---

<section class="py-20 relative">
  <div class="container mx-auto">
    <h2 class="font-montserrat uppercase text-3xl lg:text-5xl mb-8 font-bold text-center">{page.acf.titre_galerie_3}</h2>
    <div class="grid grid-cols-12 gap-4">
      <div class={`col-span-12 md:col-span-8 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-video" src={page.acf.image_1_galerie_3.url} alt={page.acf.image_1_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-4 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-square" src={page.acf.image_2_galerie_3.url} alt={page.acf.image_2_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-4 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-square" src={page.acf.image_3_galerie_3.url} alt={page.acf.image_3_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-4 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-square" src={page.acf.image_4_galerie_3.url} alt={page.acf.image_4_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-4 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-square" src={page.acf.image_5_galerie_3.url} alt={page.acf.image_5_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-4 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-square" src={page.acf.image_6_galerie_3.url} alt={page.acf.image_6_galerie_3.description}>
      </div>
      <div class={`col-span-12 md:col-span-8 overflow-hidden rounded-3xl`}>
        <img class="w-full h-full object-cover aspect-video" src={page.acf.image_7_galerie_3.url} alt={page.acf.image_7_galerie_3.description}>
      </div>
    </div>
  </div>
</section>