---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const { slug } = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);
const logos = page.acf.logos
---

<section id="contact" class="pt-28 md:pt-40">
  <div class="container mx-auto relative overflow-hidden">
    <div
      class="grid grid-cols-12 gap-4 relative overflow-hidden py-52 lg:py-24"
    >
      <div
        class="col-span-12 lg:col-span-10 lg:col-start-2 lg:py-24 lg:px-32 mx-auto z-1 font-montserrat flex flex-col justify-center font-medium text-[--secondary-color] mb-20 lg:mb-0 relative rounded-3xl overflow-hidden"
      >
        <img
          class="absolute top-0 left-0 object-cover w-full h-full"
          src={page.acf.image_contact_6.url}
          alt={page.acf.image_contact_6.description}
        />
        <div class="absolute top-0 left-0 w-full h-full bg-black/75"></div>
        <span
          class="font-montserrat text-sm lg:text-xl text-white uppercase z-1 text-center"
          >{page.acf.accroche_contact_6}</span
        >
        <div
          class="text-2xl lg:text-5xl font-semibold prose-strong:text-[--primary-color] prose-strong:font-semibold w-1/2 text-center mx-auto z-1 mb-12"
        >
          <Fragment set:html={page.acf.titre_contact_6} />
        </div>
        <form
          id="contactForm6"
          class="flex flex-wrap justify-center gap-4 z-1"
          action=""
          method="post"
          netlify
        >
          <input
            hidden
            type="email"
            name="email_client"
            id="email_client"
            value={page.acf.email}
          />
          <input
            class="py-5 px-8 w-full lg:w-[48%] rounded-full outline-none"
            type="text"
            name="nom"
            placeholder="Nom"
            id="nom6"
          />
          <input
            class="py-5 px-8 w-full lg:w-[48%] rounded-full outline-none"
            type="text"
            name="prenom"
            placeholder="Prénom"
            id="prenom6"
          />
          <input
            class="py-5 px-8 w-full lg:w-[48%] rounded-full outline-none"
            type="email"
            name="email"
            placeholder="Email"
            id="email6"
          />
          <input
            class="py-5 px-8 w-full lg:w-[48%] rounded-full outline-none"
            type="tel"
            name="telephone"
            placeholder="Téléphone"
            id="telephone6"
          />
          <input class="hidden" type="file" name="cv" id="cv" />
          <label
            class="font-montserrat flex flex-col items-center justify-center py-10 w-full border-2 border-dashed rounded-3xl"
            for="cv"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="57.302"
              height="40.111"
              viewBox="0 0 57.302 40.111"
            >
              <path
                id="cloud-arrow-up-light"
                d="M34.9,40.345a12.895,12.895,0,0,0-23.431,6.831,2.881,2.881,0,0,1-1.907,2.579,10.031,10.031,0,0,0,3.331,19.492H45.841a8.595,8.595,0,0,0,4.011-16.2,2.858,2.858,0,0,1-1.415-3.322,7.074,7.074,0,0,0,.269-1.97,7.167,7.167,0,0,0-10.234-6.473A2.859,2.859,0,0,1,34.9,40.345ZM24.353,32a15.734,15.734,0,0,1,12.893,6.7,10.032,10.032,0,0,1,13.94,11.818,11.459,11.459,0,0,1-5.345,21.6H12.893a12.9,12.9,0,0,1-4.28-25.061A15.754,15.754,0,0,1,24.353,32ZM20.476,51.044l7.163-7.163a1.437,1.437,0,0,1,2.023,0l7.163,7.163A1.431,1.431,0,1,1,34.8,53.067l-4.718-4.718V62.083a1.433,1.433,0,1,1-2.865,0V48.349L22.5,53.067a1.431,1.431,0,0,1-2.023-2.023Z"
                transform="translate(0 -32)"
                fill="#fff"></path>
            </svg>
            <span class="uppercase font-semibold lg:text-base py-4"
              >PDF, Word</span
            >
            <p class="font-normal lg:text-sm text-[--secondary-color]">
              Vous pouvez aussi télécharger votre fichier
            </p>
            <span
              class="font-normal lg:text-sm text-white underline underline-offset-8 decoration-[--primary-color]"
              >en cliquant ici</span
            >
          </label>
          <button
            class="rounded-full border-2 border-[--primary-color] bg-[--primary-color] text-white font-semibold py-4 px-12 mt-6 hover:bg-[--primary-color] hover:text-white transition-all"
            type="submit">Envoyer</button
          >
        </form>
      </div>
      <div class="col-span-12 flex flex-wrap gap-4 justify-between lg:pt-24">
        {logos.map((item) => (
          <img src={item.logo.url} alt={item.logo.description}>
        ))}
      </div>
    </div>
  </div>
</section>
<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  // Écoutez l'événement de soumission du formulaire
  document
    .getElementById("contactForm6")
    ?.addEventListener("submit", function (event) {
      event.preventDefault(); // Empêche l'envoi du formulaire traditionnel

      // Obtenez les valeurs des champs du formulaire
      // var nom = document.getElementById("nom6").value;
      // var prenom = document.getElementById("prenom6").value;
      // var email = document.getElementById("email6").value;
      // var telephone = document.getElementById("telephone6").value;
      // var email_client = document.getElementById("email_client").value;
      // var cv = document.getElementById("cv").files[0];
      // Préparez les données à envoyer
      // var data = {
      //   nom: nom,
      //   prenom: prenom,
      //   email: email,
      //   telephone: telephone,
      //   email_client: email_client,
      //   cv: cv,
      // };

      // // Utilisez Email.js pour envoyer l'e-mail
      // emailjs.send("service_tyiu5yu", "template_2qwe8ao", data)
      //   .then(function (response) {
      //     console.log("Email envoyé avec succès :", response);
      //   })
      //   .catch(function (error) {
      //     console.log("Erreur lors de l'envoi de l'e-mail :", error);
      //   });
      // var form = document.getElementById("contactForm6");

      // // Créez un objet FormData pour inclure les données du formulaire
      // var formData = new FormData(form);

      // // Récupérez le fichier sélectionné
      // var fileInput = document.getElementById("cv");
      // var selectedFile = fileInput.files[0];

      // // Ajoutez le fichier à l'objet FormData
      // if (selectedFile) {
      //   formData.append("fileInput", selectedFile);
      // }

      //Utilisez EmailJS pour envoyer le formulaire, y compris le fichier joint
      emailjs.sendForm("service_tyiu5yu", "template_2qwe8ao", '#contactForm6').then(
        function (response) {
          console.log("E-mail envoyé avec succès :", response);
        },
        function (error) {
          console.log("Erreur lors de l'envoi de l'e-mail :", error);
        }
      );
    });
//     $('#contactForm6').on('submit', function(event) {
//     event.preventDefault(); // prevent reload
    
//     var formData = new FormData(this);
//     formData.append('service_id', 'service_tyiu5yu');
//     formData.append('template_id', 'template_2qwe8ao');
//     formData.append('user_id', 'zw52-0nYyBV7Z6vNm');
 
//     $.ajax('https://api.emailjs.com/api/v1.0/email/send-form', {
//         type: 'POST',
//         data: formData,
//         contentType: false, // auto-detection
//         processData: false // no need to parse formData to string
//     }).done(function() {
//         alert('Your mail is sent!');
//     }).fail(function(error) {
//         alert('Oops... ' + JSON.stringify(error));
//     });
// });
</script>
